<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Youtube Downloader</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
  </head>
  <body>
    <h1>Youtube Downloader</h1>

    <form class="" action="/submit" method="post">
      <label for="">請輸入網址:</label>
      <input type="text" name="url" value="">
      <button type="submit" name="button">送出</button>
    </form>
    {% if filename %}
    <span>{{ filename }} 下載完成!!</span>
    {% endif %}
     <p><br />
    <form class="" action="/submit1" method="post">
      <label for="">請輸入網址:</label>
      <input type="text" name="url1" value="">
      <button type="submit" name="button1">送出</button>
    </form>
    {% if filename1 %}
    <span>{{ filename1 }} 下載完成!!</span>
    {% endif %}

  </body>
</html>
